.signup-container{
    background-color: beige;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form{
    background-color: rgb(165, 132, 132);
    padding: 0rem 2rem 1rem 1rem;
    height: 500px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 10px;
    text-align: center;
}

.signup-form h2 {
    text-align: center;
    font-size: 2.5rem;
    color: rgb(73, 71, 189);
    font-weight: bolder;
    margin-bottom: 1.5rem;
}

.signup-form input{
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.75rem;
    border: 2px solid black;
    border-radius: 7px;
}

.signup-form button {
    width: 35%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: beige;
    padding: 0.75rem;
    border: none;
    border-radius: 8px;
    background-color: rgb(204, 90, 128);
    font-weight: bolder;
    font-size: 1rem;
    cursor: pointer;
}

.signup-form button:hover {
    color: rgb(8, 199, 110);
    background-color: rgb(106, 4, 55);
}

.signup-form p {
    margin-top: 0.5rem;
    font-size: 0.9rem;
}

.signup-form .register-link {
    text-decoration: none;
    color: rgb(7, 97, 3);
}

.signup-form .register-link:hover {
    text-decoration: none;
    color: rgb(72, 25, 2);
}